<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>xunirul</param-name>
    <param-value>D:/upload</param-value>
  </context-param>
  <context-param>
    <param-name>xunilinshirul</param-name>
    <param-value>D:/temp</param-value>
  </context-param>
  <servlet>
    <servlet-name>AddNewsinfo</servlet-name>
    <servlet-class>Servlet.AddNewsinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewsinfo</servlet-name>
    <url-pattern>/IT007/AddNewsinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Uploadimgs</servlet-name>
    <servlet-class>Servlet.Uploadimgs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploadimgs</servlet-name>
    <url-pattern>/IT007/Uploadimgs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Newsliuc</servlet-name>
    <servlet-class>Servlet.Newsliuc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newsliuc</servlet-name>
    <url-pattern>/IT007/Newsliuc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>Servlet.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/IT007/Download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBServlets</servlet-name>
    <servlet-class>Servlet.DBServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlets</servlet-name>
    <url-pattern>/IT007/DBServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SCimg</servlet-name>
    <servlet-class>Servlet.SCimg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCimg</servlet-name>
    <url-pattern>/IT007/SCimg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUser</servlet-name>
    <servlet-class>Servlet.AdminUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUser</servlet-name>
    <url-pattern>/IT007/AdminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SCjson</servlet-name>
    <servlet-class>Servlet.SCjson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCjson</servlet-name>
    <url-pattern>/IT007/SCjson</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/IT007/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SCjRelease</servlet-name>
    <servlet-class>Servlet.SCjRelease</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCjRelease</servlet-name>
    <url-pattern>/IT007/SCjRelease</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SCAuditing</servlet-name>
    <servlet-class>Servlet.SCAuditing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCAuditing</servlet-name>
    <url-pattern>/IT007/SCAuditing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SCjsonNews</servlet-name>
    <servlet-class>Servlet.SCjsonNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCjsonNews</servlet-name>
    <url-pattern>/IT007/SCjsonNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadHandle</servlet-name>
    <servlet-class>Servlet.UploadHandle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHandle</servlet-name>
    <url-pattern>/IT007/UploadHandle</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>  
    /ckfinder/core/connector/java/connector.java  
    </url-pattern>
  </servlet-mapping>
 <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page> 
</web-app>